<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.RE_LIFE"
        tools:targetApi="31">

        <!-- Activity Utama -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RE_LIFE">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Aktivitas lainnya -->
        <activity android:name=".Register"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".RegisterCustomer"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".RegisterService"/>
        <activity android:name=".LoginCustomer"/>
        <activity android:name=".LoginService"/>

        <!-- service -->
        <activity android:name=".HomeService"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".PengelolaanService"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".ActivityService"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".ActivityPesanan"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".FinishService"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".ProfileService"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".EditProfileService"
            android:theme="@style/Theme.AppCompat.Light"/>

        <!-- customer -->
        <activity android:name=".HomeCustomer"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".ProfilCustomer"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".BuatPesanan"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".TipsDaurCustomer"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".TipsNonDaurCustomer"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".SedangBerlangsungCustomer"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".PesananDibatalkan"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".AktivitasCustomer"
            android:theme="@style/Theme.AppCompat.Light" />
    </application>
</manifest>